<main class="main-section">
    <section class="center-aligned flex-column">
      <h1 class="content-greeting">
        Welcome to Click clock
      </h1>
      <h1 class="content-header">
        The best way to <b class="text-info">track time</b> of your team
      </h1>
      <p class="text-about">
        Click Clock is a time tracker and timesheet app that lets you track work hours across projects. 
      </p>
      <button type="button" class="btn btn-secondary">
        START TRACKING TIME - IT'S FREE!
        </button>
      <img class="image-aside start-right" src="../assets/clock-character/Clock_noice.png">
      </section>
      <section class="demo center-aligned flex-column">
        <h1 class="demo-title">
          Time tracking apps
        </h1>
        <p class="text-about">
          Click Clock works across devices.
          Track time from anywhere — all data is synced online.
      </p>
      <img class="image-aside start-left" src="../assets/clock-character/Clock-looking-down.png">
    </section>
  </main>